<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>We have a match</h1>
    <p>
     <%= @user_likes.name %> + <%= @user_likes.name %>
    </p>
  </body>
</html>
