<div class="panel panel-default">
  <div class="panel-heading text-align">
    <h3 class="panel-title">No hay mas amig@s cerca....</h3>
  </div>
  <div class="panel-body">
    <figure>
      <%= image_tag "person.png" %>
    </figure>
  </div>
</div>
