<div class="row">
  <div class="col-md-6 col-md-offset-3       home">
  <h1>GET IN CONTACT WITH PEOPLE YOU WILL LIKE</h1>
  <p>Elige aquellos amig@s que te gustan de forma anonima, te avisaremos si ambos coinciden, el resto va por tu cuenta.</p>
  </div>
</div>
